/*Tab panel bateko pestaña bakoitzaren estiloak*/
.tab-label {
    -fx-text-fill:#FFFFFF ;
}

.tab {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-background-color:#603f96;
}

.tab:hover{
    -fx-background-color : #2A1C42 ;
}

.tab:selected {
    -fx-background-color: #3F2863;
    -fx-font-weight: bold;
}



/* Botoien estiloak*/
.button
{
    -fx-background-color : #3f2863;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color : #442d6b;
    -fx-cursor: hand;
}

#lehenengoa:focused{
    -fx-background-color: #9370db;
}

#bigarrena:focused{
    -fx-background-color : #9c9c9c;
}
#hirugarrena:focused{
    -fx-background-color : #fffb2c;
}

